aiofiles==0.8.0
aiohttp==3.8.1
aiohttp-swagger==1.0.16
aiosignal==1.2.0
alembic==1.7.6
anyio==3.5.0
arrow==1.2.1
asgiref==3.5.0
async-lru==1.0.2
async-timeout==4.0.2
attrs==21.4.0
backports.ssl==0.0.9
bcrypt==3.2.0
binaryornot==0.4.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
cookiecutter==1.7.3
cryptography==36.0.1
dill==0.3.4
distro==1.6.0
dnspython==2.2.0
ecdsa==0.17.0
email-validator==1.1.3
fastapi==0.73.0
frozenlist==1.3.0
gitdb==4.0.9
GitPython==3.1.18
greenlet==1.1.2
grpcio==1.43.0
h11==0.13.0
httptools==0.2.0
idna==3.3
itsdangerous==2.0.1
IxNetwork==9.0.1915.16
ixnetwork-restpy==1.1.3
Jinja2==3.0.3
jinja2-time==0.2.0
jsonpickle==2.1.0
junit-xml==1.9
Mako==1.1.6
MarkupSafe==2.0.1
multidict==6.0.2
netaddr==0.8.0
orjson==3.6.6
packaging==21.3
passlib==1.7.4
pathspec==0.9.0
poyo==0.5.0
prettytable==3.0.0
protobuf==3.19.3
psutil==5.9.0
psycopg==3.0.8
psycopg-binary==3.0.8
psycopg-pool==3.1
psycopg2==2.9.3
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
pyftpdlib==1.5.6
pyOpenSSL==21.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-dotenv==0.19.2
python-engineio==3.14.2
python-jose==3.3.0
python-multipart==0.0.5
python-slugify==5.0.2
python-socketio==4.6.1
PyYAML==5.4.1
requests==2.27.1
requests-toolbelt==0.9.1
robotframework==4.1.3
rsa==4.8
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
text-unidecode==1.3
tftpy==0.8.0
tqdm==4.62.3
typing_extensions==4.0.1
ujson==4.3.0
unicon==22.1
unicon.plugins==22.1
urllib3==1.26.8
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
wcwidth==0.2.5
websocket-client==1.2.3
websockets==10.1
xlrd==1.2.0
XlsxWriter==3.0.2
xlwt==1.3.0
xmltodict==0.12.0
yamllint==1.26.3
yarl==1.7.2